Repository Hyperfoil/Horreum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jesperpedersen, @johnaohara, @shivam-sharma7, @shivam-sharma

.github/CODEOWNERS:

*  @jesperpedersen @johnaohara
webapp @shivam-sharma7 
README.md @shivam-sharma7
CONTRIBUTING.md @shivam-sharma

Add -k -s to curl command
  doc/DEVELOPMENT.md
Owners: @jesperpedersen, @johnaohara

Initial version of RELEASE.md
  doc/RELEASE.md
Owners: @jesperpedersen, @johnaohara

Add OpenAPI reference
  doc/DEVELOPMENT.md
Owners: @jesperpedersen, @johnaohara

remove javax dependency
  horreum-ui/pom.xml
Owners: @jesperpedersen, @johnaohara

Add default constructor
  horreum-api/src/main/java/io/hyperfoil/tools/horreum/api/services/ExperimentService.java
Owners: @jesperpedersen, @johnaohara

Add default constructor
  horreum-api/src/main/java/io/hyperfoil/tools/horreum/api/services/ExperimentService.java
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] prepare release 0.8.4
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] prepare for next development iteration
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

Next is 0.8.5
  horreum-api/src/main/java/io/hyperfoil/tools/horreum/api/Version.java
Owners: @jesperpedersen, @johnaohara

[#754] Change INFO to DEBUG
  horreum-backend/src/main/java/io/hyperfoil/tools/horreum/notification/EmailPlugin.java
Owners: @jesperpedersen, @johnaohara

[#754] Change INFO to DEBUG
  horreum-backend/src/main/java/io/hyperfoil/tools/horreum/notification/EmailPlugin.java
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] prepare release 0.8.5
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] prepare for next development iteration
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

Next is 0.8.6
  horreum-api/src/main/java/io/hyperfoil/tools/horreum/api/Version.java
Owners: @jesperpedersen, @johnaohara

Quarkus 3.4.3
  pom.xml
Owners: @jesperpedersen, @johnaohara

podman has priority
  README.md
Owners: @shivam-sharma7

Quarkus 3.4.3
  pom.xml
Owners: @jesperpedersen, @johnaohara

use specific cmd to install dependency by quinoa
  horreum-backend/src/main/resources/application.properties
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] prepare release 0.9.0
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] rollback the release of 0.9.0
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] prepare release 0.9.0
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] prepare for next development iteration
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

Next is 0.9.1
  horreum-api/src/main/java/io/hyperfoil/tools/horreum/api/Version.java
Owners: @jesperpedersen, @johnaohara

Next is 0.10.0
  horreum-api/pom.xml
  horreum-api/src/main/java/io/hyperfoil/tools/horreum/api/Version.java
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

add Go to Home Button
  horreum-web/src/404.tsx
  horreum-web/src/index.css
Owners: @jesperpedersen, @johnaohara

add Go to Home Button
  horreum-web/src/404.tsx
  horreum-web/src/index.css
Owners: @jesperpedersen, @johnaohara

Add OpenAPI specification
  doc/openapi/README.md
  doc/openapi/openapi.yaml
Owners: @shivam-sharma7, @jesperpedersen, @johnaohara

Add OpenAPI specification
  doc/openapi/README.md
  doc/openapi/openapi.yaml
Owners: @shivam-sharma7, @jesperpedersen, @johnaohara

[maven-release-plugin] prepare release 0.9.1
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] prepare for next development iteration
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

Next is 0.9.2
  horreum-api/src/main/java/io/hyperfoil/tools/horreum/api/Version.java
Owners: @jesperpedersen, @johnaohara

Fix dev services on podman, plus tesing enhancements
  horreum-backend/pom.xml
  horreum-integration-tests/pom.xml
  horreum-integration-tests/src/test/java/io/hyperfoil/tools/horreum/it/ItResource.java
  infra/horreum-dev-services/deployment/src/main/java/io/hyperfoil/tools/horreum/dev/services/deployment/HorreumDevServicesProcessor.java
  infra/horreum-dev-services/deployment/src/main/java/io/hyperfoil/tools/horreum/dev/services/deployment/config/HorreumDevServicesKeycloakConfig.java
  infra/horreum-dev-services/deployment/src/main/java/io/hyperfoil/tools/horreum/dev/services/deployment/config/HorreumDevServicesPostgresConfig.java
  infra/horreum-infra-common/src/main/java/io/hyperfoil/tools/horreum/infra/common/Const.java
  infra/horreum-infra-common/src/main/java/io/hyperfoil/tools/horreum/infra/common/resources/KeycloakResource.java
  infra/horreum-infra-common/src/main/java/io/hyperfoil/tools/horreum/infra/common/resources/PostgresResource.java
  pom.xml
Owners: @jesperpedersen, @johnaohara

Fix dev services on podman, plus tesing enhancements
  horreum-backend/pom.xml
  horreum-integration-tests/pom.xml
  horreum-integration-tests/src/test/java/io/hyperfoil/tools/horreum/it/ItResource.java
  infra/horreum-dev-services/deployment/src/main/java/io/hyperfoil/tools/horreum/dev/services/deployment/HorreumDevServicesProcessor.java
  infra/horreum-dev-services/deployment/src/main/java/io/hyperfoil/tools/horreum/dev/services/deployment/config/HorreumDevServicesKeycloakConfig.java
  infra/horreum-dev-services/deployment/src/main/java/io/hyperfoil/tools/horreum/dev/services/deployment/config/HorreumDevServicesPostgresConfig.java
  infra/horreum-infra-common/src/main/java/io/hyperfoil/tools/horreum/infra/common/Const.java
  infra/horreum-infra-common/src/main/java/io/hyperfoil/tools/horreum/infra/common/resources/KeycloakResource.java
  infra/horreum-infra-common/src/main/java/io/hyperfoil/tools/horreum/infra/common/resources/PostgresResource.java
  pom.xml
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] prepare release 0.9.2
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] prepare for next development iteration
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

Next is 0.9.3
  horreum-api/src/main/java/io/hyperfoil/tools/horreum/api/Version.java
Owners: @jesperpedersen, @johnaohara

Cast experiment config to any - Fixes #766
  horreum-web/src/domain/tests/Experiments.tsx
Owners: @jesperpedersen, @johnaohara

Cast experiment config to any - Fixes #766
  horreum-web/src/domain/tests/Experiments.tsx
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] prepare release 0.9.3
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] prepare for next development iteration
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara
