Repository Hyperfoil/Horreum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jesperpedersen, @johnaohara, @shivam-sharma7, @shivam-sharma

[maven-release-plugin] prepare release 0.8.0
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] prepare for next development iteration
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

Next is 0.8.1
  horreum-api/src/main/java/io/hyperfoil/tools/horreum/api/Version.java
Owners: @jesperpedersen, @johnaohara

Next is 0.9.0
  horreum-api/src/main/java/io/hyperfoil/tools/horreum/api/Version.java
Owners: @jesperpedersen, @johnaohara

fixes #726, fixes testImportExport to not be affected by lingering data
  horreum-backend/src/main/java/io/hyperfoil/tools/horreum/svc/ExperimentServiceImpl.java
  horreum-backend/src/test/java/io/hyperfoil/tools/horreum/svc/RunServiceTest.java
  horreum-backend/src/test/java/io/hyperfoil/tools/horreum/svc/TestServiceTest.java
Owners: @jesperpedersen, @johnaohara

fixes #726, fixes testImportExport to not be affected by lingering data
  horreum-backend/src/main/java/io/hyperfoil/tools/horreum/svc/ExperimentServiceImpl.java
  horreum-backend/src/test/java/io/hyperfoil/tools/horreum/svc/RunServiceTest.java
  horreum-backend/src/test/java/io/hyperfoil/tools/horreum/svc/TestServiceTest.java
Owners: @jesperpedersen, @johnaohara

fixes #726 for real
  horreum-backend/src/main/java/io/hyperfoil/tools/horreum/svc/ExperimentServiceImpl.java
  horreum-backend/src/test/java/io/hyperfoil/tools/horreum/svc/RunServiceTest.java
  horreum-integration-tests/src/test/java/io/hyperfoil/tools/horreum/it/HorreumClientIT.java
Owners: @jesperpedersen, @johnaohara

fixes #726 for real
  horreum-backend/src/main/java/io/hyperfoil/tools/horreum/svc/ExperimentServiceImpl.java
  horreum-backend/src/test/java/io/hyperfoil/tools/horreum/svc/RunServiceTest.java
  horreum-integration-tests/src/test/java/io/hyperfoil/tools/horreum/it/HorreumClientIT.java
Owners: @jesperpedersen, @johnaohara

Use UBI9/JDK17 as base image
  horreum-backend/src/main/docker/Dockerfile.jvm.base
Owners: @jesperpedersen, @johnaohara

Use UBI9/JDK17 as base image
  horreum-backend/src/main/docker/Dockerfile.jvm.base
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] prepare release 0.8.1
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] rollback the release of 0.8.1
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] prepare release 0.8.1
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] prepare for next development iteration
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

Next is 0.8.2
  horreum-api/src/main/java/io/hyperfoil/tools/horreum/api/Version.java
Owners: @jesperpedersen, @johnaohara

fixes #733
  horreum-backend/src/main/java/io/hyperfoil/tools/horreum/mapper/TableReportMapper.java
Owners: @jesperpedersen, @johnaohara

Temp fix: UI bug crashing parsing validation errors
  webapp/src/domain/runs/SchemaList.tsx
Owners: @shivam-sharma7

fixes #733
  horreum-backend/src/main/java/io/hyperfoil/tools/horreum/mapper/TableReportMapper.java
Owners: @jesperpedersen, @johnaohara

Temp fix: UI bug crashing parsing validation errors
  webapp/src/domain/runs/SchemaList.tsx
Owners: @shivam-sharma7

Temp fix: UI bug crashing parsing validation errors
  webapp/src/domain/runs/SchemaList.tsx
Owners: @shivam-sharma7

[maven-release-plugin] prepare release 0.8.2
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] prepare for next development iteration
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

Next is 0.8.3
  horreum-api/src/main/java/io/hyperfoil/tools/horreum/api/Version.java
Owners: @jesperpedersen, @johnaohara

Fix login issue with keycloack in dev mode with prod backup
  horreum-backend/src/main/resources/application.properties
  infra/horreum-infra-common/src/main/java/io/hyperfoil/tools/horreum/infra/common/HorreumResources.java
Owners: @jesperpedersen, @johnaohara

Fix Json stored as string with cast to any
  webapp/src/components/ExportImport.tsx
  webapp/src/domain/runs/SchemaList.tsx
  webapp/src/domain/runs/ValidationErrorTable.tsx
  webapp/src/domain/tests/Experiments.tsx
Owners: @shivam-sharma7

Fix login issue with keycloack in dev mode with prod backup
  horreum-backend/src/main/resources/application.properties
  infra/horreum-infra-common/src/main/java/io/hyperfoil/tools/horreum/infra/common/HorreumResources.java
Owners: @jesperpedersen, @johnaohara

Fix Json stored as string with cast to any
  webapp/src/components/ExportImport.tsx
  webapp/src/domain/runs/SchemaList.tsx
  webapp/src/domain/runs/ValidationErrorTable.tsx
  webapp/src/domain/tests/Experiments.tsx
Owners: @shivam-sharma7

Move Maven to 0.9-SNAPSHOT
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

Revert "Temp fix: UI bug crashing parsing validation errors"
  horreum-web/src/domain/runs/SchemaList.tsx
Owners: @jesperpedersen, @johnaohara

Use Keycloak 22.0.x
  horreum-web/package-lock.json
  horreum-web/package.json
  horreum-web/src/keycloak.ts
  infra/horreum-infra-common/src/main/java/io/hyperfoil/tools/horreum/infra/common/Const.java
  pom.xml
Owners: @jesperpedersen, @johnaohara

Define ValidtionError.ErrorDetails api Type
  horreum-api/src/main/java/io/hyperfoil/tools/horreum/api/data/ValidationError.java
  horreum-backend/src/main/java/io/hyperfoil/tools/horreum/entity/ValidationErrorDAO.java
  horreum-backend/src/main/java/io/hyperfoil/tools/horreum/mapper/ValidationErrorMapper.java
  horreum-web/src/domain/runs/SchemaList.tsx
  horreum-web/src/domain/runs/ValidationErrorTable.tsx
Owners: @jesperpedersen, @johnaohara

Use specific versions
  horreum-web/package-lock.json
  horreum-web/package.json
Owners: @jesperpedersen, @johnaohara

Revert "Temp fix: UI bug crashing parsing validation errors"
  horreum-web/src/domain/runs/SchemaList.tsx
Owners: @jesperpedersen, @johnaohara

Define ValidtionError.ErrorDetails api Type
  horreum-api/src/main/java/io/hyperfoil/tools/horreum/api/data/ValidationError.java
  horreum-backend/src/main/java/io/hyperfoil/tools/horreum/entity/ValidationErrorDAO.java
  horreum-backend/src/main/java/io/hyperfoil/tools/horreum/mapper/ValidationErrorMapper.java
  horreum-web/src/domain/runs/SchemaList.tsx
  horreum-web/src/domain/runs/ValidationErrorTable.tsx
Owners: @jesperpedersen, @johnaohara

Remove Keycloak section
  README.md
Owners: @shivam-sharma7

[maven-release-plugin] prepare release 0.8.3
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

[maven-release-plugin] prepare for next development iteration
  horreum-api/pom.xml
  horreum-backend/pom.xml
  horreum-client/pom.xml
  horreum-integration-tests/pom.xml
  horreum-ui/pom.xml
  infra/horreum-dev-services/deployment/pom.xml
  infra/horreum-dev-services/pom.xml
  infra/horreum-dev-services/runtime/pom.xml
  infra/horreum-infra-common/pom.xml
  pom.xml
Owners: @jesperpedersen, @johnaohara

Next is 0.8.4
  horreum-api/src/main/java/io/hyperfoil/tools/horreum/api/Version.java
Owners: @jesperpedersen, @johnaohara

node: Version 18.18.1 Hydrogen (LTS)
  horreum-backend/src/main/resources/application.properties
Owners: @jesperpedersen, @johnaohara

Align basic development documentation
  README.md
  doc/DEVELOPMENT.md
Owners: @shivam-sharma7, @jesperpedersen, @johnaohara

.github/CODEOWNERS:

*  @jesperpedersen @johnaohara
webapp @shivam-sharma7 
README.md @shivam-sharma7
CONTRIBUTING.md @shivam-sharma
